body {
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    padding: 12px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 40px;
    background: #f4f4f4;
}

.section {
    padding: 30px;
}

.card-box {
    background: #f0f0f0;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 12px;

    border: 3px solid #ccc;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    box-shadow: none;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
