body{
font-family: Arial, sans-serif;
}

.hero-section{
height: 90vh;

background:
linear-gradient(rgba(0,0,0,0.6),
rgba(0,0,0,0.6)),
url('images/hero.jpg');

background-size: cover;
background-position: center;
}

.navbar-brand{
font-weight: bold;
}

.card{
border: none;

box-shadow:
0 4px 10px rgba(0,0,0,0.1);
}

.card img{
height: 250px;
object-fit: cover;
}

footer{
margin-top: 40px;
}

.card{
transition: 0.3s;
}

.card:hover{
transform: translateY(-10px);
}

.btn-warning{
font-weight: bold;
}

img{
object-fit: cover;
}

section{
min-height: 70vh;
}
